h1 {
    font-size: 24px;
    color: #38B2AC;
}
h2 {
    font-size: 21px;
    color: #5a67d8;
}
p {
    font-size: 18px;
}
img {
    height: 100px;
    width: 145px;
    border: #38B2AC solid 2px;
    border-radius: 10%;
}